{% extends 'base.template.html.twig' %}
{% block title %}Dashboard{% endblock %}
{% block pageHeader %}Tableau de Bord{% endblock %}
{% block body %}
	<h5>Contenu de tableau de bord for Public</h5>
{% endblock %}